.menu{
    display: flex;
    gap: 72px;
    font-size: 1.5rem;
}

.menu li{
    border-bottom: 4px solid transparent;
    transition: border-color 0.5s ;

}

li:hover{
    border-bottom: 4px solid var(--primary-color);
}

/* TABLET */
@media (max-width:960px){
    header{
        max-width: 868px;
        width: 100%;
        display: flex;
        justify-content: space-between;
    }
    .menu{
        display: none;
    }
    .menu__bars{
        display: flex;
        font-size: 30px;
        justify-content: center;
    }

    
}