.section-title {
    grid-area: title;
    font-size: clamp(3rem, 18vw, 14rem);
    text-align: center;
    background: linear-gradient( #fff, #000);
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
}
/* TABLET */
@media (max-width:960px){
    .section-title{
        font-size: clamp(2rem, 16vw, 14rem);
    }
}